@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        @apply text-slate-50
    }
}

/* Sidebar Category icons*/
.categoryicon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/icons/arcade.svg');

}
